<ul>
    <li ng-repeat="cartItem in cartItems">
        <span>{{cartItem.productResource.name}}</span>
        <p>{{cartItem.productResource.description}}</p>
        <p>{{cartItem.quantity}}</p>
        <button ng-click="incrementQuantity(cartItem.productResource)">+</button>
        <button ng-click="decrementQuantity(cartItem.productResource)">-</button>
        <p>{{cartItem.totalCost | currency}}</p>
        <button ng-click="removeFromCart(cartItem.productResource)">Remove from Cart</button>
    </li>
</ul>
<p ng-if="totalCost === 0">No items in cart</p>